body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    gap: 200px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.colors {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.color {
    padding: 20px;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#violet {
    background-color: violet;
}

#gridContainer {
    margin: 30px;
    box-sizing: border-box;
    display: grid;
    align-self: center;
    height: 650px;
    width: 650px;
    display: grid;
    user-select: none;
}

.buttons {
    padding: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    padding: 10px;
    font-size: 15px;
    border-radius: 20%;
}

input {
    font-size: 20px;
    width: 30px;
}

.pixel{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 1px;
}

.footer {
    display:flex;
    justify-content: center;
    padding: 40px;
}
